<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/login.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Log in to Shh!</h1>
        <a href="#"><img src="../src/stora/img/google.png" alt="Log in with Google">Log in with Google</a>
        <p>Or log in with Email </p>
    </header>
    <main>
        <form>
            <label for="email">Username or Email</label>
                <input type="text">
            <label for="password">Password</label>
                <input type="password">
        </form>
    
        <section class="section_form">
            <p>Don't have an account?</p><a href="#">Sign up</a>
        </section>
    </main>
    
</body>
</html>