<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../src/css/sign-up.css">
</head>
<body>
    <header>
        <h1>Sign up to Shh!</h1>
        <section class="section__sign-up">
        <img src="../src/stora/img/google.png" alt="logo"><a href="https://accounts.google.com/"> Sign up with Google</a>

        </section>
    </header>
    <main>
        <section class="section__continue-with-Email">
            <img src="../src/stora/img/Line 3.png" alt="Line1"> <p>Or continue with Email </p> <img src="../src/stora/img/Line 3.png" alt="Line2">
        </section>

        <form action="submit" class="section__Enter-Data">
            
            <input type="text" placeholder="Enter you name">
            <input type="text" placeholder="Enter Username">
            <input type="email" placeholder="Enter Email">
            <input type="password" placeholder="Enter Password">
            <label class="checkbox-container">
                <input type="checkbox">
                <span class="custom-checkbox"></span>
                <span class="custom-textoCheckbox">I agree with the Terms of Service and Privacy policy</span>
            </label>
        </form>
        
    </main>
    <footer>
        <section class="section__footer">
            <img src="../src/stora/img/boy.png" alt="boy">
            <button type="submit" class="button__createAccount">Create Account</button> 
            <p>Already have an accounts?</p>
            <a href="view/login.html">Sign in</a>
        </section>
    </footer>
</body>
</html>